[Unit]
Description=Service to run flaskweb app
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /var/flask-app/flask/application.py

[Install]
WantedBy=multi-user.target